:root {
    --claude-color: #D37A5C;
    --electron-color: #2DD0ED;
    --overlap-color: #D3D0ED;
    --bg-color: #FAF9F5;
}

body{
    display: flex;
    flex-direction: row;
    margin: 0;
    background-color: var(--bg-color);
    font-family: "Outfit", sans-serif;
}

.no-select {
    user-select: none;
}

#settings-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--claude-color);
    border-radius: 10px;
    width: 32px;
    height: 32px;
    padding: 4px;
    transition: all 0.2s;
}

#settings-btn:hover {
    filter: brightness(0.9);
}

#settings-icon {
    width: 100%;
    height: 100%;
}

aside{
    width: 15vw;
    height: 100dvh;
    border-right: 1px solid #c2c2c2;
    min-width: 150px;
}

aside h3{
    text-align: center;
    margin-top: 10px;
    width: 100%;
}

#new-chat{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 5px;
    border-radius: 15px;
    padding: 5px;
    border: 1px solid #c2c2c2;
    transition: all 0.2s;
    user-select: none;
    cursor: pointer;
}

#new-chat:hover{
    box-shadow: 0 0 7px black;
    transform: scale(1.05);
}

#new-chat-icon{
    background-color: var(--claude-color);
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 50%;
}

#new-chat-text{
    margin: 0 10px;
}

.sidebar-chat{
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.2s;
    margin-left: 10px;
    margin-right: 10px;
}

.sidebar-chat.active{
    background-color: #0000001A;
}

.sidebar-chat:hover{
    background-color: #0000000D;
}

main{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

#welcome-icon{
    height: 150px;
    margin: 25px auto;
    animation: rotate 60s infinite;
    user-select: none;
}

#welcome-text{
    color: #414141;
    user-select: none;
}

#chat-form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #c2c2c2;
    width: 40vw;
    padding: 10px;
    border-radius: 10px;
    cursor: text;
}

.options-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    user-select: none;
}

#left-options {
    display: flex;
    align-items: center;
    justify-content: center;
}

#chat-input {
    width: 100%;
    height: 50px;
    border: none;
    transform: translateY(-5px);
}

#chat-input::placeholder {
    color: #c2c2c2;
    font-size: 16px;
}

#chat-input:focus {
    outline: none;
}

#model-select {
    height: 32px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

#model-select option {
    background-color: white;
    border: none;
    border-radius: 5px;
}

#model-select:hover {
    background-color: #0000001D;
}

#model-select:focus {
    outline: none;
}

#chat-submit {
    border: none;
    height: 32px;
    width: 32px;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--claude-color);
    transition: all 0.2s;
    opacity: 0.5;
}

#chat-submit.active {
    opacity: 1;
    outline: none;
}

#chat-submit:hover {
    filter: brightness(0.9);
    transform: scale(1.05);
}

#submit-icon {
    width: 16px;
    height: 16px;
}

.option-label {
    width: 32px;
    height: 32px;
    display: inline-block;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 65%;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #c2c2c2;
    margin: 0 2px;
}

#web-search-label {
    background-image: url("./assets/web.png");
}

#thinking-label {
    background-image: url("./assets/bulb.png");
}

#web-search:checked + #web-search-label {
    background-color: var(--overlap-color);
}

#thinking:checked + #thinking-label {
    background-color: var(--overlap-color);
}

.dialog {
    width: 50vw;
    max-width: 600px;
    height: 75vh;
    max-height: 700px;
    background-color: var(--bg-color);
    border: 3px solid var(--claude-color);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    opacity: 0;
    transform: scale(0.9);
    transition:
            transform 300ms ease,
            opacity 300ms ease;
}

.dialog[open] {
    opacity: 1;
    transform: scale(1);
}

.dialog.closing {
    opacity: 0;
    transform: scale(0.9);
}

.dialog[open]::backdrop {
    animation: backdrop-in 300ms ease forwards;
}

.dialog.closing::backdrop {
    animation: backdrop-out 300ms ease forwards;
}

.dialog.success {
    animation: good-pulse 300ms ease-out;
}

@keyframes good-pulse {
    0% {
        transform: scale(1);
        filter: none;
        box-shadow: none;
    }

    50% {
        transform: scale(1.01);
        filter: sepia(1)
        hue-rotate(85deg)
        saturate(0.5)
        brightness(1);
        box-shadow: 0 0 20px rgba(0, 255, 0, 0.6);
    }

    100% {
        transform: scale(1);
        filter: none;
        box-shadow: none;
    }
}

@keyframes backdrop-in {
    from {
        background: rgba(0, 0, 0, 0);
        backdrop-filter: blur(0px);
    }
    to {
        background: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(5px);
    }
}

@keyframes backdrop-out {
    from {
        background: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(5px);
    }
    to {
        background: rgba(0, 0, 0, 0);
        backdrop-filter: blur(0px);
    }
}

.dialog-title {
    font-size: 24px;
}

#settings-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.settings-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 10px 0;
    gap: 10px;
}

.setting-desc {
    flex: 0 0 auto;
}

.setting-inputs {
    flex: 1;
    display: flex;
    gap: 5px;
}

.settings-input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--claude-color);
    transition: all 0.2s;

    &:focus {
        outline: none;
        background-color: rgba(0, 0, 0, 0.05);
    }
}

#settings-save {
    border: none;
    background-color: var(--claude-color);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
        filter: brightness(0.9);
    }
}

#settings-save {
    flex: 0 0 auto;
}